<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>书城首页</title>
    <!-- 引入vue -->
    <script src="static/script/vue.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入axios -->
    <script src="static/script/axios.js" type="text/javascript" charset="utf-8"></script>
    <base th:href="@{/}" href="/bookstore/"/>
    <link rel="stylesheet" href="static/css/minireset.css"/>
    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/css/iconfont.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/swiper.min.css"/>
</head>
<body>
<div id="app">
    <div class="topbar">
        <div class="w">
            <div class="topbar-left">
                <i>送至:</i>
                <i>北京</i>
                <i class="iconfont icon-ai-arrow-down"></i>
            </div>
            <!--登录前的风格-->
            <div class="topbar-right" th:if="${session.loginUser == null && session.registerUser == null}">
                <a href="user?method=toLoginPage" class="login">登录</a>
                <a href="user?method=toRegisterPage" class="register">注册</a>
                <a
                        href="protected/cart?method=toCartPage"
                        class="cart iconfont icon-gouwuche
            "
                >
                    购物车
                    <div class="cart-num" v-text="totalCount">3</div>
                </a>
                <a href="protected/admin?method=toManagerPage" class="admin">后台管理</a>
            </div>
            <!--登录前的风格-->
            <!--登录后风格-->
            <div class="topbar-right" th:if="${session.loginUser != null}">
                <span>欢迎你<b th:text="${session.loginUser.userName}">Drimwai</b></span>
                <a href="user?method=logout" class="register">注销</a>
                <a
                        href="protected/cart?method=toCartPage"
                        class="cart iconfont icon-gouwuche
            ">
                    购物车
                    <div class="cart-num" v-text="totalCount">3</div>
                </a>
                <a href="protected/admin?method=toManagerPage" class="admin">后台管理</a>
            </div>
            <!--登录后风格-->
            <!--注册成功后风格-->
            <div class="topbar-right" th:if="${session.registerUser != null}">
                <span>欢迎你<b th:text="${session.registerUser.userName}">Drimwai</b></span>
                <a href="user?method=logout" class="register">注销</a>
                <a
                        href="cart?method=toCartPage"
                        class="cart iconfont icon-gouwuche
            ">
                    购物车
                    <div class="cart-num" v-text="totalCount">3</div>
                </a>
                <a href="admin?method=toManagerPage" class="admin">后台管理</a>
            </div>
            <!--注册成功后风格-->
        </div>
    </div>
    <div class="header w">
        <a href="index" class="header-logo"></a>
        <div class="header-nav">
            <ul>
                <li><a href="query?method=selectByName&name=java">java</a></li>
                <li><a href="query?method=selectByName&name=前端">前端</a></li>
                <li><a href="query?method=selectByCate&cate1=小说">小说</a></li>
                <li><a href="query?method=selectByCate&cate1=文学">文学</a></li>
                <li><a href="query?method=selectByCate&cate1=青春文学">青春文学</a></li>
                <li><a href="query?method=selectByCate&cate1=艺术">艺术</a></li>
                <li><a href="query?method=selectByCate&cate1=管理">管理</a></li>
            </ul>
        </div>
        <div class="header-search">
            <form th:action="@{/index}" method="post">
                <input type="hidden" name="oper" value="search"/>
                <input type="text" placeholder="十万个为什么" name="keyword" th:value="${session.keyword}"/>
                <input class="iconfont icon-search" type="submit" value="查询"/>
            </form>
        </div>
    </div>
    <div class="banner w clearfix">
        <div class="banner-left">
            <ul>
                <li>
                    <a href="query?method=selectByCate&cate1=文学&cate2=鉴赏">
                        <span>文学 鉴赏</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=社科&cate2=研究">
                        <span>社科 研究</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=少儿&cate2=培训">
                        <span>少儿 培训</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=艺术&cate2=赏析">
                        <span>艺术 赏析</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=生活&cate2=周边">
                        <span>生活 周边</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=文教&cate2=科技">
                        <span>文教 科技</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
                <li>
                    <a href="query?method=selectByCate&cate1=热销&cate2=畅读">
                        <span>热销 畅读</span>
                        <i class="iconfont icon-jiantou"></i
                        ></a>
                </li>
            </ul>
        </div>
        <div class="banner-right">
            <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <img src="static/uploads/banner4.jpg" alt="">
                        <!-- <div class="banner-img"></div> -->
                    </li>
                    <li class="swiper-slide">
                        <img src="static/uploads/banner5.jpg" alt="">
                        <!-- <div class="banner-img"></div> -->
                    </li>
                    <li class="swiper-slide">
                        <img src="../../static/uploads/banner6.jpg" alt="">
                        <!-- <div class="banner-img"></div> -->
                    </li>
                </ul>
                <div class="swiper-button-prev"></div>

                <div class="swiper-button-next"></div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="books-list ">
        <div class="w">
            <div class="list">
                <div class="list-header">
                    <div class="title">图书列表</div>
                    <div class="price-search">
                        <span>价格:</span>
                        <form action="query" method="post">
                            <input type="hidden" name="method" value="selectByPrice"/>
                            <input type="text" name="price1" id="price1">
                            <span>-元</span>
                            <input type="text" name="price2" id="price2">
                            <span>元</span>
                            <button type="search">查询</button>
                        </form>
                    </div>
                </div>
                <div class="list-content" th:if="${#lists.isEmpty(list)}">
                    图书列表为空，无法进行购买!!!
                </div>
                <div class="list-content" th:unless="${#lists.isEmpty(list)}">
                    <div class="list-item" th:each="book : ${list}">
                        <img src="static/uploads/huozhe.jpg" th:src="${book.imgPath}" alt="">
                        <p><span>书名:</span><span th:text="${book.bookName}">活着</span></p>
                        <p><span>作者:</span><span th:text="${book.author}">余华</span></p>
                        <p><span>价格:</span><span th:text="${book.price}">￥66.6</span></p>
                        <p><span>销量:</span><span th:text="${book.sales}">230</span></p>
                        <p><span>库存:</span><span th:text="${book.stock}">1000</span></p>
                        <p><span>类别:</span><span th:text="${book.category}">1000</span></p>
                        <button @click="addBookToCart()" th:value="${book.bookId}">加入购物车</button>
                    </div>
                </div>
                <div class="list-footer">
                    <div>
                        <span th:onclick="|Page(1)|">首页</span>
                        <!-- <input type="button" value="首   页" th:onclick="|Page(1)|" th:disabled="${session.pageNo==1}">-->
                    </div>
                    <div>
                        <span th:onclick="|Page(${ session.pageNo -1})|">上一页</span>
                        <!-- <input type="button" value="上一页" th:onclick="|Page(${ session.pageNo -1})|" th:disabled="${session.pageNo==1}">-->
                    </div>
                    <ul>
                        <li><span th:text="${session.pageNo -1}" th:hidden="${session.pageNo==1}"></span></li>
                        <li class="active"><span th:text="${session.pageNo}"></span></li>
                        <li><span th:text="${session.pageNo +1}" th:hidden="${session.pageNo==session.pageCount}"></span></li>
                    </ul>
                    <div>
                        <span th:onclick="|Page(${session.pageNo+1})|">下一页</span>
                        <!-- <input type="button" value="下一页" th:onclick="|Page(${session.pageNo+1})|" th:disabled="${session.pageNo==session.pageCount}">-->
                    </div>
                    <div>
                        <span th:onclick="|Page(${session.pageCount})|">末页</span>
                        <!--<input type="button" value="末   页" th:onclick="|Page(${session.pageCount})|" th:disabled="${session.pageNo==session.pageCount}"> -->
                    </div>
                    <span>共</span><span th:text="${session.pageCount}"></span><span>页</span>
                    <span th:text="${session.totalCount}"></span><span>条记录</span>
                    <span>到第</span>
                    <input type="text" id="pageText" th:value="${session.pageNo}">
                    <span>页</span>
                    <button id="but" onclick="Jump()">确定</button>
                </div>
            </div>
        </div>

    </div>
    <div class="cate w">
        <div class="list">
            <a href="query?method=selectByName&name=java" class="list-item">
                <i class="iconfont icon-java"></i>
                <span>java</span>
            </a>
            <a href="query?method=selectByName&name=h5" class="list-item"
            ><i class="iconfont icon-h5"></i>h5</a
            >
            <a href="query?method=selectByName&name=python" class="list-item">
                <i class="iconfont icon-python"></i>python
            </a>
            <a href="query?method=selectByName&name=pm" class="list-item"
            ><i class="iconfont icon-tianchongxing-"></i>pm</a
            >
            <a href="query?method=selectByName&name=php" class="list-item"
            ><i class="iconfont icon-php_elephant"></i>php</a
            >
            <a href="query?method=selectByName&name=go" class="list-item"
            ><i class="iconfont icon-go"></i>go</a
            >
        </div>
        <a href="" class="img">
            <img src="static/uploads/cate4.jpg" alt=""/>
        </a>
        <a href="" class="img">
            <img src="static/uploads/cate5.jpg" alt=""/>
        </a>
        <a href="" class="img">
            <img src="static/uploads/cate6.jpg" alt=""/>
        </a>
    </div>
    <div class="books">
        <div class="w">
            <div class="seckill">
                <div class="seckill-header">
                    <div class="title">
                        图书秒杀
                    </div>
                    <!-- <i class="iconfont icon-huanyipi"></i> -->
                </div>
                <div class="seckill-content">

                    <a href="" class="tip">
                        <h5>距离结束还有</h5>
                        <i class="iconfont icon-shandian"></i>
                        <div class="downcount">
                            <span class="time">00</span>
                            <span class="token">:</span>
                            <span class="time">00</span>
                            <span class="token">:</span>
                            <span class="time">00</span>
                        </div>
                    </a>


                    <a href="" class="books-sec">
                        <img src="static/uploads/congwanqingdaominguo.jpg" alt="">
                        <p>从晚晴到民国</p>
                        <div>
                            <span class="cur-price">￥28.9</span>
                            <span class="pre-price">￥36.5</span>
                        </div>
                        <button>立即购买</button>
                    </a>
                    <a href="" class="books-sec">
                        <img src="static/uploads/cyuyanrumenjingdian.jpg" alt="">
                        <p>c语言入门经典</p>
                        <div>
                            <span class="cur-price">￥55.9</span>
                            <span class="pre-price">￥68.5</span>
                        </div>
                        <button>立即购买</button>
                    </a>
                    <a href="" class="books-sec">
                        <img src="static/uploads/fusang.jpg" alt="">
                        <p>扶桑</p>
                        <div>
                            <span class="cur-price">￥30.9</span>
                            <span class="pre-price">￥47.5</span>
                        </div>
                        <button>立即购买</button>
                    </a>
                    <a href="" class="books-sec">
                        <img src="static/uploads/geihaizideshi.jpg" alt="">
                        <p>给孩子的诗</p>
                        <div>
                            <span class="cur-price">￥18.9</span>
                            <span class="pre-price">￥25.5</span>
                        </div>
                        <button>立即购买</button>
                    </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="w">
            <div class="top">
                <ul>
                    <li>
                        <a href="">
                            <img src="static/img/bottom1.png" alt="">
                            <span>大咖级讲师亲自授课</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="static/img/bottom.png" alt="">
                            <span>课程为学员成长持续赋能</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="static/img/bottom2.png" alt="">
                            <span>学员真实情况大公开</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <dl>
                    <dt>关于我们</dt>
                    <dd>教育理念</dd>
                    <!-- <dd>名师团队</dd>
                    <dd>学员心声</dd> -->
                </dl>
                <dl>
                    <dt>资源下载</dt>
                    <dd>视频下载</dd>
                    <!-- <dd>资料下载</dd>
                    <dd>工具下载</dd> -->
                </dl>
                <dl>
                    <dt>加入我们</dt>
                    <dd>招聘岗位</dd>
                    <!-- <dd>岗位介绍</dd>
                    <dd>招贤纳师</dd> -->
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>https://www.drimwai.com
                    <dd>
                </dl>
            </div>
        </div>
        <div class="down">
            Drimwai's Bookstore.Copyright ©2021
        </div>
    </div>


</div>
<script src="static/script/swiper.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        autoplay: true,
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
    })


    function Jump() {
        let pageText = document.getElementById("pageText").value;
        window.location.href = "index?pageNo=" + pageText;
    }

    function Page(pageNo) {
        window.location.href = "index?pageNo=" + pageNo;
    }



    var vue = new Vue({
        "el": "#app",
        "data": {
            "totalCount": 0
        },
        "methods": {
            addBookToCart() {
                //获取bookId: bookId绑定在当前标签的value属性上
                //event.target就表示拿到当前标签
                var bookId = event.target.value;
                //发送异步请求:添加书进购物车
                axios({
                    "method": "POST",
                    "url": "protected/cart",
                    "params": {
                        "method": "addCartItem",
                        "id": bookId
                    }
                }).then(response => {
                    if (response.data.flag) {
                        //添加购物车成功
                        this.totalCount = response.data.resultData
                        alert("添加购物车成功")
                    } else {
                        if (response.data.message == "unLogin") {
                            location.href = "user?method=toLoginPage"
                        } else {
                            //说明显示购物车信息失败
                            alert("显示购物车信息失败")
                        }
                    }
                })
            }
        },
        created() {
            //获取购物车中的商品总数，并赋值给数据模型totalcount
            //每次刷新都会走这个钩子函数
            //发送异步请求，获取购物车的商品总数，并且将商品总数赋给this.totalCount
            axios({
                "method": "post",
                "url": "protected/cart",
                "params": {
                    "method": "getTotalCount"
                }
            }).then(response => {
                if (response.data.flag) {
                    this.totalCount = response.data.resultData;
                }
            })
        }
    });


</script>
</body>
</html>
